
@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="ui centered grid">
    <div class="row">
        <div class="four wide column">
            @Html.ActionLink("APPOINTMENT MANAGEMENT", "AppointmentManagement", "UserPanel", null, new { @class = "ui primary button padded huge", style = "width:100%" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="four wide column">
            @Html.ActionLink("PERSONAL SETTINGS", "PersonalSettings", "UserPanel", null, new { @class = "ui secondary button  padded huge", style = "width:100%" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="eight wide column">
            @Html.ActionLink("Site Homepage", "Index", "FrontSide", null, new { @class = "green ui button", style = "width:100%" })
        </div>
        <div class="eight wide column">
            @Html.ActionLink("Sign Out", "SignOut", "Login", null, new { @class = "red ui button", style = "width:100%" })
        </div>
    </div>
</div>


