
@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("APPOINTMENT MANAGEMENT", "AppointmentManagement", "UserPanel", null, new { @class = "btn btn-primary p-5", style = "width:100%" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("PERSONAL SETTINGS", "PersonalSettings", "UserPanel", null, new { @class = "btn btn-secondary p-5", style = "width:100%" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("Site Homepage", "Index", "FrontSide", null, new { @class = "btn btn-success", style = "width:100%" })
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Sign Out", "SignOut", "Login", null, new { @class = "btn btn-danger", style = "width:100%" })
                </div>
            </div>
        </div>
    </div>
</div>

