@model KuaforRandevu2.Models.Entities.Appointment
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="ui container centered grid padded">
    <div class="row">
        <div class="eight wide column">
            @using (Html.BeginForm("SetAppointment", "UserPanel", null, FormMethod.Post, true, new { @class = "ui large form"}))
            {
                @Html.HiddenFor(m => m.UserId);               
                @Html.DropDownList("ExpertId", ViewBag.Users.Items, "Select an Expert", new {  });              
                @Html.TextBoxFor(m => m.AppointmentDate, new {type = "datetime-local" });
                <button class="ui fluid large teal submit button" type="submit">Set Appointment</button>
            }
        <br />
        <br />
            <a class="ui blue button" href="~/UserPanel/AppointmentManagement">Appointments</a>
            <a class="ui button default" href="~/UserPanel">User Home</a>
        </div>
    </div>
</div>



