@model IQueryable<KuaforRandevu2.Models.Entities.Appointment>
@{
    Layout = "_AdminLayout";
}
<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered text-center">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>User</td>
                    <td>Expert</td>
                    <td>Appointment Date</td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                @foreach (var appointment in Model)
                {
                    <tr class="p-1">
                        <td>@appointment.Id</td>
                        <td>@appointment.UserId</td>
                        <td>@appointment.ExpertId</td>
                        <td>@appointment.AppointmentDate</td>
                        <td>
                            <a href="#">Edit</a>
                        </td>
                        <td>
                            <a href="#">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <a class="btn btn-secondary" href="~/AdminPanel">Admin Home</a>
        </div>
    </div>
</div>
