@model KuaforRandevu2.Models.Entities.Expert
@{
    Layout = "_AdminLayout";
}
<<div class="ui container grid padded centered">
    <div class="row">
        <div class="eight wide column">
            @using (Html.BeginForm("ExpertUpdate", "AdminPanel", null, FormMethod.Post, true, new { @class = "ui form" }))
            {
                <h3>@ViewBag.userFullName</h3>
                <br />
                @Html.TextBoxFor(m => m.ExpertJob, new {  });
                @Html.HiddenFor(m => m.UserId)
                <button class="ui fluid large teal submit button" type="submit">Update</button>
            }
            <a class="ui button default" href="~/AdminPanel">Admin Home</a>
        </div>
    </div>
</div>

