@model IQueryable<KuaforRandevu2.Models.Entities.Expert>
@{
    Layout = "_AdminLayout";
}
<div class="ui container centered padded grid">
    <div class="row">
        <div class="wide column">
            <table class="ui attached inverted table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Full Name</td>
                        <td>Expert Job</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var expert in Model)
                    {
                        <tr>
                            <td>@expert.Id</td>
                            <td>@expert.User.FullName</td>
                            <td>@expert.ExpertJob</td>
                            <td>
                                <a href="~/AdminPanel/ExpertUpdate/@expert.Id">Edit</a>
                            </td>
                            <td>
                                <a href="~/AdminPanel/ExpertDelete/@expert.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="ui button primary" href="~/AdminPanel/ExpertAdd">Add Expert</a>
            <a class="ui button default" href="~/AdminPanel">Admin Home</a>           
        </div>
    </div>
</div>
