@model KuaforRandevu2.Models.Entities.Expert
@{
    Layout = "_AdminLayout";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("ExpertAdd", "AdminPanel", null, FormMethod.Post, true, new { @class = "form-group" }))
            {               
                @Html.LabelFor(m => m.User.FullName, "Full Name");
                <select name="@Html.NameFor(m=>m.User.Id)" class="form-control"></select>
                @Html.LabelFor(m => m.ExpertJob, "Job");
                @Html.TextBoxFor(m => m.ExpertJob, new { @class = "form-control" });
               
                

                <button class="btn btn-primary" type="submit">Add</button>
            }
            <a class="btn btn-secondary" href="~/AdminPanel">Admin Home</a>
        </div>
    </div>
</div>

