@model KuaforRandevu2.Models.Entities.Expert
@{
    Layout = "_AdminLayout";
}
<div class="ui container grid padded centered">
    <div class="row">
        <div class="eight wide column">
            @using (Html.BeginForm("ExpertAdd", "AdminPanel", null, FormMethod.Post, true, new { @class = "ui form" }))
            {
                @Html.LabelFor(m => m.User.FullName, "Full Name");
                @Html.DropDownList("UserId", ViewBag.Users.Items, "Select a User to Add an Expert", new {  });
                @Html.LabelFor(m => m.ExpertJob, "Job");
                @Html.TextBoxFor(m => m.ExpertJob, new {  });

                <button class="ui fluid large teal submit button" type="submit">Add</button>
            }
            <a class="ui button default" href="~/AdminPanel">Admin Home</a>
        </div>
    </div>
</div>

