@model KuaforRandevu2.Models.Entities.Gallery
@{
    Layout = "_AdminLayout";
}
<div class="ui container grid padded centered">
    <div class="row">
        <div class="eight wide column">
            @using (Html.BeginForm("GalleryAdd", "AdminPanel", null, FormMethod.Post, true, new {  @class = "ui form", enctype = "multipart/form-data", accept = "image/jpg, image/png" }))
            {
                <br />
                <input type="file" name="galleryImage" />
                <br />
                @Html.LabelFor(m => m.ImgText, "Image Description");
                @Html.TextBoxFor(m => m.ImgText, new { });



                <button class="ui fluid large teal submit button" type="submit">Add</button>
            }
            <a class="ui button default" href="~/AdminPanel">Admin Home</a>
        </div>
    </div>
</div>

