@model KuaforRandevu2.Models.Entities.About
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
<div class="ui grid centered container padded">
    <div class="four wide column">
        <h3>About Us</h3>
        <p>@Model.AboutText</p>
    </div>
    <div class="four wide column">
        <h3>Our Mission</h3>
        <p>@Model.Mission</p>
    </div>
    <div class="four wide column">
        <h3>Our Vision</h3>
        <p>@Model.Vision</p>
    </div>
 
</div>
