@model IQueryable<KuaforRandevu2.Models.Entities.Expert>
@{
    ViewData["Title"] = "Experts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            @foreach (var expert in Model)
            {
                <div class="col-md-4">
                    <h4>NAME</h4>
                    <p>@expert.User.FullName</p>
                    <br />
                    <h5>JOB</h5>
                    <p>@expert.ExpertJob</p>
                </div>
            }

        </div>
    </div>
</div>
