@model IQueryable<KuaforRandevu2.Models.Entities.Expert>
@{
    ViewData["Title"] = "Experts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ui grid centered container padded">
    @foreach (var expert in Model)
    {
        <div class="three wide column">
            <h4>NAME</h4>
            <p>@expert.User.FullName</p>
            <br />
            <h5>JOB</h5>
            <p>@expert.ExpertJob</p>
        </div>
    }
</div>


