@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui text container">
    <div class="ui inverted vertical masthead center aligned segment">
        <h1>Kuafor Randevu</h1>
    </div>
    
    
</div>
