
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KuaforRandevu2.Models.Entities.User

    <div class="ui container grid padded centered">
        <div class="row">
            <div class="wide column">              
            </div>
        </div>
        <div class="row">
            <div class="eight wide column">
                @using (Html.BeginForm("Index", "Login", null, FormMethod.Post, true, new { @class = "ui large form error" }))
                {
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name" });
                    <br />
                    @Html.TextBoxFor(m => m.Password, new { placeholder = "Password" });
                    <br />
                    <button class="ui fluid large teal submit button" type="submit">Login</button>
                }
            </div>
        </div>
    </div>



